* {
    font-family: monospace;
}

body {
    background-color: rgb(58, 4, 58);
}

.container {
    position: absolute;
    width: 300px;
    height: 400px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 20, 26);
}

.city {
    font-size: 3em;
    font-weight: bold;
    color: white;
    padding-top: 50px;
}

.icon > img {
    width: 100px;
}

hr {
    width: 75%;
    background-color: gray;
}

.degrees {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.description {
    color: white;
    padding-top: 20px;
    font-size: 20px;
}

.country-picker {
    position: fixed;
    top: 5px;
    left: calc(50% - 10px);
    transform: translateX(-50%);
}

.country-picker > input {
    width: 250px;
    height: 30px;
    font-size: 20px;
    float: left;
    outline: 0;
}

.country-picker > .btn {
    background-color: darkgray;
    width: 50px;
    height: 36px;
    position: fixed;
    z-index: 5;
    left: 230px
}

.country-picker > .btn > img {
    width: 34px;
    padding-left: 10px;
    padding-top: 2px;
    filter: brightness(0.1);
}

.country-picker > .btn:hover {
    filter: brightness(1.2);
}